---
layout: default
title: Tin tức
---

<div class="all-page-title page-title-large">
    <!--Page -->
    <div class="page-info">
        <div class="container">
            <div class="inner-container">
                <ul class="bread-crumb">
                    <li><a href="{% link index.html %}">Trang chủ</a></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                    <li><span>Tin tức</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Page-->
    <div class="container text-center">
        <h1>Tin tức</h1>
    </div>
</div><!-- end section -->

<!-- This loops through the paginated posts -->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <ul class="list-unstyled">
                {% for post in paginator.posts %}
                    <li class="media">
                        <img class="mr-3" src="{{ post.image }}" alt="Generic placeholder image" width="260" height="180">
                        <div class="media-body">
                            <h1 class="mt-0 mb-1">{{ post.title }}</h1>
                            <p class="text-justify">
                                {{ post.excerpt }}
                            </p>
        
                            <a class="btn btn-info mt-2 p-0" href="{{ post.url }}" role="button">Read more</a>
        
                            <div class="mt-3">
                                <span class="badge badge-secondary">Posted {{ post.date | date_to_string }}</span>
                                <div class="pull-right">
                                    Tags:
                                    <span class="badge badge-info">alice</span>
                                    <span class="badge badge-info">story</span>
                                    <span class="badge badge-info">blog</span>
                                    <span class="badge badge-info">personal</span>
                                    <span class="badge badge-info">Warning</span>
                                    <span class="badge badge-info">Danger</span>
                                </div>         
                            </div>
        
                        </div>
                    </li>
        
                    <hr class="mb-5">
                {% endfor %}
            </ul>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="sidebar widget mt-5">
                <h3 class="recent-post">Đăng ký nhận tin tức</h3>
                <p>Form Description Goes here</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Tìm kiếm</button>
                    </span>
                </div>
            </div>

            <div class="sidebar widget mt-5">
                <h3 class="recent-post">Danh mục</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Tin Dự Án
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Tin BĐS
                        <span class="badge badge-primary badge-pill">8</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Tin thị trường
                        <span class="badge badge-primary badge-pill">3</span>
                    </li>
                </ul>
            </div>

            <div class="sidebar widget mt-5">
                <h3 class="recent-post">Tags</h3>
                <span class="badge badge-info">alice</span>
                <span class="badge badge-info">story</span>
                <span class="badge badge-info">blog</span>
                <span class="badge badge-info">personal</span>
                <span class="badge badge-info">Warning</span>
                <span class="badge badge-info">Danger</span>
            </div>

            <div class="sidebar widget mt-5">
                <h3 class="recent-post">Các bài đăng gần đây</h3>
                <ul>
                    <li>
                        <div class="sidebar-thumb">
                            <img class="animated rollIn" src="http://shop.spotlayer.com/demo/soft-mag/demo1/wp-content/uploads/16555399183_33b1b1bc26_o-90x75.jpg" alt="" />
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-content">
                            <h5 class="animated bounceInRight"><a href="#">The Complete Guide to Medium for Marketers</a></h5>
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-meta">
                            <span class="time" ><i class="fa fa-clock-o"></i> Aug 27, 2015</span>
                        </div><!-- .Sidebar-meta ends here -->
                    </li><!-- .Li ends here -->
                    <li>
                        <div class="sidebar-thumb">
                            <img class="animated rollIn" src="http://shop.spotlayer.com/demo/soft-mag/demo1/wp-content/uploads/8S64npOgTu2eWTZIXEfy_DSC_0955-90x75.jpg" alt="" />
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-content">
                            <h5 class="animated bounceInRight"><a href="#">Watch Now: How to Manipulate the Media</a></h5>
                        </div><!-- .Sidebar-thumb -->
                            <div class="sidebar-meta">
                            <span class="time" ><i class="fa fa-clock-o"></i> Aug 27, 2015</span>
                        </div><!-- .Sidebar-meta ends here -->
                    </li><!-- .Li ends here -->
                    <li>
                        <div class="sidebar-thumb">
                            <img class="animated rollIn" src="http://shop.spotlayer.com/demo/soft-mag/demo1/wp-content/uploads/17153174816_a808becb66_o-90x75.jpg" alt="" />
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-content">
                            <h5 class="animated bounceInRight"><a href="#">OnePlus Inks First Carrier Partnership with Malaysia</a></h5>
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-meta">
                            <span class="time" ><i class="fa fa-clock-o"></i> Aug 27, 2015</span>
                        </div><!-- .Sidebar-meta ends here -->
                    </li><!-- .Li ends here -->
                    <li>
                        <div class="sidebar-thumb">
                            <img class="animated rollIn" src="http://shop.spotlayer.com/demo/soft-mag/demo1/wp-content/uploads/16986542958_6a9303388c_o-90x75.jpg" alt="" />
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-content">
                            <h5 class="animated bounceInRight"><a href="#">Heaps Wants to Enhance How Groups of Friends</a></h5>
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-meta">
                            <span class="time" ><i class="fa fa-clock-o"></i> Aug 27, 2015</span>
                        </div><!-- .Sidebar-meta ends here -->
                    </li><!-- .Li ends here -->
                </ul><!-- .Ul ends here -->
            </div>
        </div>
    </div>
    
</div>

<!-- Pagination links -->
<div class="pagination-wrapper">
    <div class="pagination">
        <ul>
            {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                <li>
                    <a href="/">&laquo;</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
                </li>
                {% endif %}
            {% else %}
                <li class="disabled">
                    <a href="#">&laquo; Prev</a>
                </li>
            {% endif %}
            {% if paginator.page == 1 %}
                <li class="active-blog">
                    <a href="#">1</a>
                </li>
            {% else %}
                <li>
                    <a href="{% link tintuc/index.html %}">1</a>
                </li>
            {% endif %}
            {% for count in (2..paginator.total_pages) %}
                {% if count == paginator.page %}
                    <li class="active-blog">
                        <a href="#">{{count}}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ site.paginate_path | relative_url | replace: ':num', count }}">{{count}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
                <li>
                    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#">Next &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>