---
layout: default
title: Tin tức
---

<div class="all-page-title page-title-large">
    <!--Page -->
    <div class="page-info">
        <div class="container">
            <div class="inner-container">
                <ul class="bread-crumb">
                    <li><a href="{% link index.html %}">Trang chủ</a></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                    <li><span>Tin tức</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Page-->
    <div class="container text-center">
        <h1>Tin tức</h1>
    </div>
</div><!-- end section -->

<!-- This loops through the paginated posts -->
<div class="container">
    <div class="row">
        <div class="well">
            <h1 class="text-center">Vote for your favorite</h1>
            <div class="list-group">
                {% for post in paginator.posts %}
                    <a href="{{ post.url }}" class="list-group-item active">
                        <div class="media col-md-3">
                            <figure>
                                <img class="media-object img-rounded img-responsive " src="http://placehold.it/350x250"
                                    alt="placehold.it/350x250">
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading"> {{ post.title }} </h4>
                            <p class="list-group-item-text"> Qui diam libris ei, vidisse incorrupte at mel. His euismod
                                salutandi dissentiunt eu. Habeo offendit ea mea. Nostro blandit sea ea, viris timeam
                                molestiae an has. At nisl platonem eum.
                                Vel et nonumy gubergren, ad has tota facilis probatus. Ea legere legimus tibique cum, sale
                                tantas vim ea, eu vivendo expetendis vim. Voluptua vituperatoribus et mel, ius no elitr
                                deserunt mediocrem. Mea facilisi torquatos ad.
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <h2> 14240 <small> votes </small></h2>
                            <button type="button" class="btn btn-default btn-lg btn-block"> Vote Now! </button>
                            <div class="stars">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <p> Average 4.5 <small> / </small> 5 </p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Pagination links -->
<div class="pagination-wrapper">
    <div class="pagination">
        <ul>
            {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                <li>
                    <a href="/">&laquo;</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
                </li>
                {% endif %}
            {% else %}
                <li class="disabled">
                    <a href="#">&laquo; Prev</a>
                </li>
            {% endif %}
            {% if paginator.page == 1 %}
                <li class="active">
                    <a href="#">1</a>
                </li>
            {% else %}
                <li>
                    <a href="{% link tintuc/index.html %}">1</a>
                </li>
            {% endif %}
            {% for count in (2..paginator.total_pages) %}
                {% if count == paginator.page %}
                    <li class="active">
                        <a href="#">{{count}}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ site.paginate_path | relative_url | replace: ':num', count }}">{{count}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
                <li>
                    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#">Next &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>