---
layout: default
title: Tin tức
---

<div class="all-page-title page-title-large">
    <!--Page -->
    <div class="page-info">
        <div class="container">
            <div class="inner-container">
                <ul class="bread-crumb">
                    <li><a href="{% link index.html %}">Trang chủ</a></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                    <li><span>Tin tức</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Page-->
    <div class="container text-center">
        <h1>Tin tức</h1>
    </div>
</div><!-- end section -->

<!-- This loops through the paginated posts -->
<div class="container mt-5 mb-5">
    <ul class="list-unstyled">
        
    </ul>
    {% for post in paginator.posts %}
        <li class="media">
            <img class="mr-3" src="http://placehold.it/260x180" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ post.title }}</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                <a class="btn btn-primary btn-sm" href="{{ post.url }}" role="button">Read more</a>

                <div>
                    <span class="badge">Posted {{ post.date }}</span>
                    <div class="pull-right">
                        Tags:
                        <span class="badge badge-primary">alice</span>
                        <span class="badge badge-secondary">story</span>
                        <span class="badge badge-success">blog</span>
                        <span class="badge badge-info">personal</span>
                        <span class="badge badge-warning">Warning</span>
                        <span class="badge badge-danger">Danger</span>
                    </div>         
                </div>

                <hr class="mt-5 mb-5">

            </div>
        </li>
    {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination-wrapper">
    <div class="pagination">
        <ul>
            {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                <li>
                    <a href="/">&laquo;</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
                </li>
                {% endif %}
            {% else %}
                <li class="disabled">
                    <a href="#">&laquo; Prev</a>
                </li>
            {% endif %}
            {% if paginator.page == 1 %}
                <li class="active-blog">
                    <a href="#">1</a>
                </li>
            {% else %}
                <li>
                    <a href="{% link tintuc/index.html %}">1</a>
                </li>
            {% endif %}
            {% for count in (2..paginator.total_pages) %}
                {% if count == paginator.page %}
                    <li class="active-blog">
                        <a href="#">{{count}}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ site.paginate_path | relative_url | replace: ':num', count }}">{{count}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
                <li>
                    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#">Next &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>