/** ADD YOUR AWESOME CODES HERE **/

.telephone-btn {
    z-index: 100;
    position: fixed;
    bottom: 200px;
    left: 10px;
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    font-weight: bolder;
}

.telephone-btn:hover {
    background-color: #b20000;
    color: #FFFFFF;
}

@media all and (max-width:30em) {
    .telephone-btn {
        display: block;
        margin: 0.2em auto;
    }
}

.page-title-large {
    background-image: url(../images/pattern-4.png)
}

/* ------- pagination -------- */
.pagination-wrapper {
    text-align: center;
}

.pagination {
    height: 36px;
    display: inline-block;
}

.pagination ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.pagination li {
    display: inline;
}

.pagination li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination a:hover,
.active-blog a {
    background-color: whiteSmoke;
}

.disabled a,
.disabled a:hover,
.active-blog a,
.active-blog a:hover {
    color: #999;
    cursor: default;
}

.disabled a:hover {
    background-color: transparent;
}

/* Recent post */
.recent-post {
    color: #2996bd;
    margin: 10px 0px 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-left: 5px solid #32aae1;
}

.sidebar.widget {
    background: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px 20px;
}

.sidebar.widget ul {
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

.sidebar.widget ul li {
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 20px
}

.sidebar-thumb {
    float: left;
    overflow: hidden;
    margin-right: 15px;
}

.sidebar-thumb img {
    background: #fff;
    border: 1px dashed #e0e0e0;
    padding: 6px;
    height: 75px;
    width: 75px;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.sidebar-content h5 {
    font-size: 16px;
    cursor: pointer;
    line-height: 24px;
}

.sidebar-content h5 a:hover {
    color: #2996bd;
}

.sidebar-content h5 a {
    color: #202020;
    outline: 0 none;
    text-decoration: none;
    font-weight: bold
}

.sidebar-meta {
    margin-top: 10px;
}

.sidebar-meta span {
    color: #2e2e2e;
}

.sidebar-meta span.time {
    margin-right: 10px;
}

.sidebar-meta span i {
    color: #2996bd
}

/* Rectangle list for pages */
.custom-ol {
    counter-reset: li;
    /* Initiate a counter */
    list-style: none;
    /* Remove default numbering */
    *list-style: decimal;
    /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    margin: 0 0 0 2em;
}

.rectangle-list a {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle-list a:hover {
    background: #eee;
}

.rectangle-list a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after {
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list a:hover:after {
    left: -.5em;
    border-left-color: #fa8072;
}

/* FAQ */
.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "e072";
    /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}