---
layout: default
title: Trang chủ
---

<div class="all-page-title page-title-large">
    <!--Page -->
    <div class="page-info">
        <div class="container">
            <div class="inner-container">
                <ul class="bread-crumb">
                    <li><a href="{% link index.html %}">Trang chủ</a></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                    <li><span>Tin tức</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Page-->
    <div class="container text-center">
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date_to_string }}</p>
    </div>
</div><!-- end section -->

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-lg-9 col-md-9 col-sm-12">
            {{ content }}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="sidebar widget mt-5">
                <h3 class="recent-post">Subscription Box</h3>
                <p>Form Description Goes here</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Go!</button>
                    </span>
                </div>
            </div>
    
            <div class="sidebar widget mt-5">
                <h3 class="recent-post">Danh mục</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Tin Dự Án
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Tin BĐS
                        <span class="badge badge-primary badge-pill">8</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Tin thị trường
                        <span class="badge badge-primary badge-pill">3</span>
                    </li>
                </ul>
            </div>

            <div class="sidebar widget mt-5">
                <h3 class="recent-post">Tags</h3>
                <span class="badge badge-info">bcons</span>
                <span class="badge badge-info">bcons plaza</span>
                <span class="badge badge-info">plaza</span>
                <span class="badge badge-info">đất nền dĩ an</span>
                <span class="badge badge-info">nhà phố dĩ an</span>
                <span class="badge badge-info">bcons sala</span>
            </div>

            <div class="sidebar widget mt-5">
                <h3 class="recent-post">Các bài đăng gần đây</h3>
                <ul>
                    <li>
                        <div class="sidebar-thumb">
                            <img class="animated rollIn" src="/assets/images/post_2021_04_14_1.jpg" alt="" />
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-content">
                            <h5 class="animated bounceInRight"><a href="{% post_url 2021-04-14-co-hoi-nao-cho-can-ho-di-an-khi-gia-nha-o-tphcm-tang-cao %}">Cơ hội nào cho căn hộ Dĩ An, khi giá nhà ở TP.HCM tăng cao?</a></h5>
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-meta">
                            <span class="time" ><i class="fa fa-clock-o"></i> Apr 14, 2021</span>
                        </div><!-- .Sidebar-meta ends here -->
                    </li><!-- .Li ends here -->
                    <li>
                        <div class="sidebar-thumb">
                            <img class="animated rollIn" src="/assets/images/post_2021_04_06_1.png" alt="" />
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-content">
                            <h5 class="animated bounceInRight"><a href="{% post_url 2021-04-06-sao-viet-mo-rong-quy-mo-don-dau-co-hoi-tang-truong %}">Sao Việt mở rộng quy mô đón đầu cơ hội tăng trưởng</a></h5>
                        </div><!-- .Sidebar-thumb -->
                            <div class="sidebar-meta">
                            <span class="time" ><i class="fa fa-clock-o"></i> Apr 06, 2021</span>
                        </div><!-- .Sidebar-meta ends here -->
                    </li><!-- .Li ends here -->
                    <li>
                        <div class="sidebar-thumb">
                            <img class="animated rollIn" src="/assets/images/post_2021_04_06_2.jpg" alt="" />
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-content">
                            <h5 class="animated bounceInRight"><a href="{% post_url 2021-04-06-du-kien-gia-nha-tiep-tuc-tang-10-trong-nam-nay %}">Dự kiến giá nhà tiếp tục tăng 10% trong năm nay</a></h5>
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-meta">
                            <span class="time" ><i class="fa fa-clock-o"></i> Apr 06, 2021</span>
                        </div><!-- .Sidebar-meta ends here -->
                    </li><!-- .Li ends here -->
                    <li>
                        <div class="sidebar-thumb">
                            <img class="animated rollIn" src="/assets/images/post_2021_04_05_2.jpg" alt="" />
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-content">
                            <h5 class="animated bounceInRight"><a href="{% post_url 2021-04-05-thi-cong-den-phan-ham-bcons-plaza-noi-bat-tren-thi-truong %}">Thi công đến phần hầm, Bcons Plaza nổi bật trên thị trường</a></h5>
                        </div><!-- .Sidebar-thumb -->
                        <div class="sidebar-meta">
                            <span class="time" ><i class="fa fa-clock-o"></i> Apr 05, 2021</span>
                        </div><!-- .Sidebar-meta ends here -->
                    </li><!-- .Li ends here -->
                </ul><!-- .Ul ends here -->
            </div>
        </div>
    </div>
</div>